.container {
  display: flex;
  background-color: #c7c7c7;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  /* width: 90%; */
  height: 755px; /* ??? */
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  margin-left: 2rem;
  padding: 0;
  border: #000;
  border-style: solid;
  border-width: 2px;
}

.tenderInfo {

}

.purchaserInfo {

}

.purchaser {

}

.person {

}

.tenderItems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}
