.container {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86vh;
  padding: 0;
  width: 38%;
  background-color: #dfdfdf;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  height: 86vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 61%;
  background-color: #dfdfdf;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.sectionName {
  margin: 2px;
  align-self: baseline;
  font-weight: bold;
  color: #38015c;
}

.tenderInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  border: 1px rgb(172, 172, 172) solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.purchaserInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.purchaser {
  height: 50%;
  width: 100%;
  border: 1px rgb(172, 172, 172) solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* .purchaser :hover {
  cursor: pointer;
  border: 1px #c291e2 solid;
} */

.person {
  height: 50%;
  width: 100%;
  border: 1px rgb(172, 172, 172) solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

/* .person :hover {
  cursor: pointer;
  border: 1px #c291e2 solid;
} */

.label {
  align-self: baseline;
  margin-bottom: 0.5em;
}
