.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab {
  width: 100%;
  background-color: rgb(218, 218, 218);
  border-collapse: collapse;
  margin-left: 3px;
  margin-right: 3px;
}

.tab th,
td {
  border: 1px;
  border-color: #000000e7;
  border-style: solid;
  padding: 0.5rem;
  margin: 0;
}

.tab tbody,
.row {
  text-align: center;
  padding: 0;
}

.tab th {
  background-color: #38015c;
  font-family: "Lato", sans-serif;
  color: white;
}
