.container{
   display: flex;
   width: 100%;
   height: 40px;
   align-items: center;
   justify-content: center;
   padding: 0;
   margin: 0;
}

.container select{
    width: 100px;
}

.searchSection{
    display: flex;
    align-items: center;
    background-color: white;
}

.searchSection select{
    width: 100px;
}

.searchBar{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
}

.searchBar input{
    border: none;
    outline: none;
}

.dates {
    display: flex;
}