.tableContainer {
  background-color: white;
  margin-top: 20px;
}

th,
td {
  border: 1px;
  border-color: #000;
  border-style: solid;
}

tbody, tr {
    text-align: center;
    padding: 0;
}

th {
  background-color: #38015c;
  font-family: "Lato", sans-serif;
  color: white;
}

thead :hover {
  color: #c291e2;
  background-color: #290044;
  cursor: pointer;
}
